<section>
    <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px"
    #f="ngForm" (ngSubmit)="onSubmit(f)">
        <mat-form-field>
            <input type="text" ngModel matInput placeholder="Software name" name="name"
            required #nameInput="ngModel" [(ngModel)]="data.name">
        </mat-form-field>

        <mat-form-field >
            <input type="text" ngModel matInput placeholder="Software developer" name="developer"
            required  #manufacturerInput="ngModel" [(ngModel)]="data.developer">
        </mat-form-field>

        <mat-form-field >
            <input type="number" ngModel matInput placeholder="Software price" name="price"
            required  #priceInput="ngModel" [(ngModel)]="data.price">
        </mat-form-field>

        <mat-form-field >
            <textarea rows="8" type="text" ngModel matInput placeholder="Software description" name="description"
            required  #descInput="ngModel" [(ngModel)]="data.description"></textarea>
        </mat-form-field> 

        <mat-form-field >
            <input type="text" ngModel matInput placeholder="Software image" name="image"
            required  #imageInput="ngModel" [(ngModel)]="data.image">
        </mat-form-field>

        {{message}}

        <button type="submit" mat-raised-button color="primary">Submit Update</button>
    </form>
</section>

