<section>
    <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px"
    #f="ngForm" (ngSubmit)="onSubmit(f)">
        <mat-form-field>
            <input type="text" ngModel matInput placeholder="Instrument" name="instrument"
            required #instrumentInput="ngModel" [(ngModel)]="data.instrument">
        </mat-form-field>

        <mat-form-field>
            <input type="text" ngModel matInput placeholder="Instrument type" name="type"
            required  #typeInput="ngModel" [(ngModel)]="data.type"> 
        </mat-form-field>

        <mat-form-field>
            <input type="text" ngModel matInput placeholder="Instrument name" name="name"
            required #nameInput="ngModel" [(ngModel)]="data.name">
        </mat-form-field>

        <mat-form-field >
            <input type="text" ngModel matInput placeholder="Instrument manufacturer" name="manufacturer"
            required  #manufacturerInput="ngModel" [(ngModel)]="data.manufacturer">
        </mat-form-field>

        <mat-form-field >
            <input type="number" ngModel matInput placeholder="Instrument price" name="price"
            required  #priceInput="ngModel" [(ngModel)]="data.price">
        </mat-form-field>

        <mat-form-field >
            <textarea rows="8" type="text" ngModel matInput placeholder="Instrument description" name="description"
            required  #descInput="ngModel" [(ngModel)]="data.description"></textarea>
        </mat-form-field> 

        <mat-form-field >
            <input type="text" ngModel matInput placeholder="Instrument image" name="image"
            required  #imageInput="ngModel" [(ngModel)]="data.image">
        </mat-form-field>

        {{message}}

        <button type="submit" mat-raised-button color="primary">Submit Update</button>
    </form>
</section>
