<mat-tab-group fxFlex mat-align-tabs="center" mat-stretch-tabs >
    <mat-tab label="Instruments">
        <app-insert-instrument></app-insert-instrument>
    </mat-tab>
    <mat-tab label="Accessories">
        <app-insert-accessory></app-insert-accessory>
    </mat-tab>
    <mat-tab label="Additional Equipment">
        <app-insert-equipment></app-insert-equipment>
    </mat-tab>
    <mat-tab label="Music Softwares">
        <app-insert-software></app-insert-software>
    </mat-tab>
</mat-tab-group>

